div {
     white-space: pre-wrap;
}
.inputbox {
  display: inline;
  width: 60px; /* Set this to whatever width suits your layout */
  text-align: right;
  margin-right: 10px; /* Space between the label and the input or next element */
  vertical-align: middle; /* Aligns text vertically centered if needed */
}

/* 定义参数名称的样式 */
.先验概率 {
  color: blue;
}

.证据可能性 {
  color: rgb(197, 29, 189);
}

.证伪项 {
  color: rgb(255, 16, 8);
}

.result {
    display: inline;
}

/* 定义全概率和后验概率计算结果的样式 */
.calculation,
.calculation-result {
  color: rgb(0, 0, 0);
}